<% layout('community/index') -%>
<link rel="stylesheet" href="/stylesheets/edit.css"/>


<div class="container row">
  <div class="w-100">
    <h1 class="text-center">Edit Post</h1>
    <form
      action="/community/board/<%= post._id %>?_method=PUT"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label class="form-label" for="title">제목</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="post[title]"
          value="<%= post.title %>"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="contents">내용</label>
        <textarea
          class="form-control"
          type="text"
          id="contents"
          name="post[contents]"
          required
        >
<%= post.contents %></textarea
        >
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">수정하기</button>
      </div>
    </form>
    <footer>
      <a href="/community/board/index">모든 게시글 보기</a>
    </footer>
  </div>
</div>
