<% layout('reference/index') -%>
    <link rel="stylesheet" href="/stylesheets/ref.css" />
    <link rel="stylesheet" href="/stylesheets/a classe-tab.css" />
    <div class="container tab-pane show w-100">
        <div>
            <h2 class="h2 ref_head">Campus Helper : <i class="text-uppercase">
                    <%- reference.subroutes[0] %>
                </i>🚀</h2>
        </div>
        <div class="club_department mb-3 pb-5">
            <h3 class="h3">🔅컴퓨터공학과 과동아리</h3>
            <p class="fs-6">대부분의 과동아리 홍보기간과 가입 신청기간은 1학기 초반에 진행됩니다!</p>
            <ul class="study_club">
                <li class="c1">다락방</li>
                <li class="c2">EC</li>
                <li class="c3">NL</li>
                <li class="c4">PLUM</li>
                <li class="c5">TCP</li>
                <li class="c6">TOOLs</li>
                <li class="c7">WMC</li>
                <li class="c8">AFK</li>
            </ul>
            <p>학술 동아리(스터디, 세미나, 총회 등등): 다락방, EC, NL, PLUM, TCP, TOOLs, WMC</p>
            <P>운동 동아리(축구, 배드민턴 등등): AFK</P>
        </div>
        <div class="club_center">
            <h3 class="h3">🔆중앙동아리</h3>
            <p>자신의 개성과 끼를 살려 동아리 활동에 적극적으로 참여하여 보람찬 대학생활을 즐겨보세요!</p>
            <p>중앙 동아리는 다양한 학과 학생들로 구성되며 다양한 분야에서 활동하고 있습니다.</p>
            <p>현재 총 49개의 중앙동아리가 있으며 각 동아리별 모집 시기가 상이합니다.</p>
            <p><i class="import">3월에 있는 동아리박람회와 홍보수단(동아리방 포스터, 에브리타임)</i>에 게시된 내용을 참고해주세요.</p>
            <div class="d-g class gap-2 d-md-flex justify-content-md-center mb-3 pb-5">
                <a href="https://www.seoultech.ac.kr/life/student/organ/club/" target="_blank"
                    class="d-inline badge bg-warning text-wrap link mt-2">
                    <p class="introduce">🎈중앙동아리 소개 바로가기🎭</p>
                </a>
            </div>
        </div>
        <div class="campus_map">
            <h3 class="h3">🌟Campus Map(편의시설 안내)</h3>
            <p class="fs-6 d-g class gap-2 d-md-flex justify-content-md-end">*학식은 2학생회관 또는 테크노파크!</p>
            <div class="map_img">
                <img class="map_map" src="pictures/campus_confirm.PNG">
                <table class="table">
                    <tr>
                        <th scope="row">
                            <p>7</p>
                        </th>
                        <td>편의점, 테크노파크 식당</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>34</p>
                        </th>
                        <td>도서관 북카페</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>36</p>
                        </th>
                        <td>복사실, 구내미용실</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>37</p>
                        </th>
                        <td> 1학카페, 제1매점, 안경점, 휴게실</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>43</p>
                        </th>
                        <td>휘트니스센터, 편의점, Two of Us, 당구장/탁구장</td>
                    </tr>
                    <tr></tr>
                    <th scope="row">
                        <p>52</p>
                    </th>
                    <td>편의점, 2학카페, 서점, 증명발급기, 보건소, 농협, 제2식당, 우체국</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <p>57</p>
                        </th>
                        <td>무궁관 카페</td>
                    </tr>

                </table>
            </div>
            <div class="d-g gap-2 d-md-flex justify-content-md-end mb-3 pb-5">
                <a href="https://www.seoultech.ac.kr/intro/map/#0" target="_blank"
                    class="d-inline badge bg-secondary text-wrap fs-6 map">캠퍼스 지도 자세히 보기</a>
            </div>

            <div class="etc mb-3 pb-5">
                <h3 class="h3">💌알찬 대학생활을 위한 여러 자치기구 소개</h3>
                <p class="gap-2 d-md-flex justify-content-md-end fs-6">*클릭하면 INSTAGRAM 피드로 이동합니다</p>
                <div>
                    <a href="https://www.instagram.com/seoultech_38/">총학생회</a>
                    <a href="https://www.instagram.com/seoultech_cice/ ">정통대학생회</a>
                    <a href="https://www.instagram.com/seoultech_club_union/">동아리연합회</a>
                    <a href="https://www.instagram.com/38welfare_st/">학생복지위원회</a>
                    <a href="https://www.instagram.com/press_seoultech/">신문방송사</a>
                    <a href="https://www.instagram.com/seoultech_aumi/">홍보대사 어우미</a>
                    <a href="https://www.instagram.com/201rotc/">학군단</a>
                </div>

            </div>
        </div>
    </div>
    </div>