<link rel="stylesheet" href="https://cdn.jsdepvr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<div class="container">
    <img alt="컴공배너" class="intro_banner" src="/pictures/intro_banner.jpg" />

    <link rel="stylesheet" href="/stylesheets/aside-tab.css">

    <div class="sidebar d-flex gap-3 align-items-start">
        <div class="p-3 nav flex-column nav-pills me-4 w-6" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <span class="fw-bold fs-3 text-center bg-warning bg-opacity-10 
            border border-warning border-2 border-start-0 border-top-0 rounded">Intro</span>
            <button class="text-capitalize nav-link active" id="v-pills-introduce-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-introduce" type="button" role="tab" aria-controls="v-pills-introduce"
                aria-selected="false">Introduce</button>

            <button class="text-capitalize nav-link" id="v-pills-chart-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-chart" type="button" role="tab" aria-controls="v-pills-chart"
                aria-selected="true">Organization</button>

            <button class="text-capitalize nav-link" id="v-pills-history-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-history" type="button" role="tab" aria-controls="v-pills-history"
                aria-selected="false">History</button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
           
            <!--소개 부분, 기본값-->
            <div class="tab-pane fade show active" id="v-pills-introduce" role="tabpanel"
                aria-labelledby="v-pills-introduce-tab">
                <div class="intro">
                    <h2 class="intro_head">학생회 소개</h2>
                    <div class="line intro"></div>
                </div>
                <div>
                    <h2 class="intro_head">&nbsp&nbsp&nbsp
                        <i class="bi bi-emoji-smile"></i> 학생회 설립목적
                    </h2>
                    <p class="text-start text-break">&nbsp&nbsp학생회는 학우들을 위한 기관으로서 학우들의 대표라는 책임감을 가지고
                        학교와 학우, 학우와 학교를 이어주며, 학우들의 여론을 수렴하여 모든 일들을
                        민주적, 자주적, 창의적으로 일을 진행한다. 이를 바탕으로 아름답고, 즐겁고, 건전한 대학문화를
                        만드는 것을 목적으로 한다.</p>
                    <a class="d-inline badge bg-warning text-wrap" href="https://www.instagram.com/seoultech_com/"
                        target='_blank'>
                        ☞학생회 인스타그램</a>
                    <h2 class="intro_head">&nbsp&nbsp&nbsp
                        <i class="bi bi-emoji-smile"></i> 학생회 각 부서별 역할
                    </h2>
                    <table class="table table-striped-columns table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row" class="w-25 text-center">회장</th>
                                <td>대 내·외적 컴퓨터공학과 대표 활동</td>

                            </tr>
                            <tr>
                                <th scope="row" class="w-25 text-center">부회장</th>
                                <td>대 내·외적 컴퓨터공학과 대표 활동 보조, 회장 부재 시 학생회 업무 진행 총괄</td>

                            </tr>
                            <tr>
                                <th scope="row" class="w-25 text-center">기획부</th>
                                <td colspan="3">연합 모꼬지(M.T) /개강파티 등 과 행사 기획 담당</td>
                            </tr>
                            <tr>
                                <th scope="row" class="w-25 text-center">문화부</th>
                                <td colspan="3">SNS 관리, 무대 준비 외 다른 부서 보조 및 사회 담당</td>
                            </tr>
                            <tr>
                                <th scope="row" class="w-25 text-center">선전부</th>
                                <td colspan="3">플랑 및 대자보 쓰기 및 공지사항 공고 담당</td>
                            </tr>
                            <tr>
                                <th scope="row" class="w-25 text-center">사무부</th>
                                <td colspan="3">학생회비 관리, 영수증 관리, 예산안/결산안 작성 담당</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-bottom: 50px;"></div>
                </div>
            </div>

             <!--조직도 부분-->
             <div class="intro tab-pane fade" id="v-pills-chart" role="tabpanel" aria-labelledby="v-pills-chart-tab">
                <div>
                    <h2 class="intro_head">학생회 조직도</h2>
                    <div class="line intro"></div>
                </div>
                <div>
                    <img alt="조직도" class="organization_chart_picture" src="/pictures/organization_chart.jpg" />
                </div>
            </div>

            <!--역사 부분-->
            <div class="tab-pane fade" id="v-pills-history" role="tabpanel" aria-labelledby="v-pills-history-tab">
                <div class="intro">
                    <h2 class="intro_head ">지금까지의 학생회</h2>
                    <div class="line intro" style="width: 230px;"></div>
                    <div class="history text-start">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">38th 무/브/먼/트</li>
                            <li class="list-group-item">37th 와/이/파/이</li>
                            <li class="list-group-item">36th 우/리/두/리</li>
                            <li class="list-group-item">35th 푸/른/나/래</li>
                            <li class="list-group-item">34th 너/와/나/의</li>
                            <li class="list-group-item">33th 위/드/어/스</li>
                            <li class="list-group-item">32th 4/번/타/자</li>
                            <li class="list-group-item">31th 어/깨/동/무</li>
                            <li class="list-group-item">30th 퍼/블/릭</li>
                            <li class="list-group-item">29th 온/새/미/로</li>
                            <li class="list-group-item">28th 인/클/루/드</li>
                            <li class="list-group-item">27th 어/울/림</li>
                            <li class="list-group-item">26th 두/드/림</li>
                            <li class="list-group-item">25th 너/나/들/이</li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>