<div class="p-3 nav flex-column nav-pills me-4 w-25 mt-4" aria-orientation="vertical">
    <span class="fw-bold fs-3 text-center bg-warning bg-opacity-10 
    border border-warning border-2 border-start-0 border-top-0 rounded"><%- routes.name %> </span>
    <% for(let [index, item] of routes.subroutes.entries()) { %>
        <button class="text-capitalize nav-link"><a href="/<%= routes.name %>?category=<%= item %>"><%= item %></a></button>
    <% } %>
</div>