<footer id="footer" class="footer bg-dark py-3 mt-auto">
    <div class="aF">
      <br />
      <br />
      <a href="https://www.seoultech.ac.kr/sinfo/persnal/" style="color: white"
        ><b>&nbsp;&nbsp;&nbsp;&nbsp;[개인정보처리방침]</b></a
      >
      <a
        href="https://www.seoultech.ac.kr/sinfo/denyemail/"
        style="color: white"
        >&nbsp;&nbsp;&nbsp;&nbsp;[이메일무단수집거부]</a
      >
    </div>
    <br />
    <div class="aF">
      <p>
        &nbsp;&nbsp;&nbsp;[01811] 서울 노원구 공릉로 232 서울과학기술대학교
        컴퓨터공학과 미래관 305-4호 TEL : 010-6351-4270
      </p>
      <p>
        &nbsp;&nbsp;&nbsp;Copyright (c) SEOUL NATIONAL UNIVERSITY OF SCIENCE AND
        TECHNOLOGY's student. Assignment.
      </p>
    </div>
  </footer>