<header class="header">
    <div id="blue"></div>
    <div id="red"></div>
    <div id="grey"></div>
    <div style="background-color: white">
      <a href="https://computer.seoultech.ac.kr/"
        ><img
          alt="컴퓨터공학과 학생회"
          id="schoolLogo"
          src="/pictures/schoolLogo.jpg"
      /></a>
      <b id="nextLogo">| 컴퓨터공학과 학생회</b>
    </div>
    <div id="headLogo">
      <p class="headLogo">Intro</p>
      <p class="headLogo">News</p>
      <p class="headLogo">Community</p>
      <p class="headLogo">Reference</p>
      <div style="margin-right: 30px"></div>
      <a href="/login">
        <img
          title="로그인"
          alt="login"
          src="/pictures/login.jpg"
          id="login"
        />
      </a>

      <div style="margin-right: 23px"></div>
    </div>
  </header>