<header class="header sticky-top">
    <div id="blue"></div>
    <div id="red"></div>
    <div id="grey"></div>
    <div style="background-color: white">
      <a href="https://computer.seoultech.ac.kr/"
        ><img
          alt="컴퓨터공학과 학생회"
          id="schoolLogo"
          src="/pictures/schoolLogo.jpg"
      /></a>
      <a href="/" id="nextLogo">| 컴퓨터공학과 학생회</a>
    </div>
    <div id="headLogo">
      <a class="headLogo___nav" href="/intro">Intro</a>
      <a class="headLogo___nav" href="/notice">Notice</a>
      <a class="headLogo___nav" href="/community">Community</a>
      <a class="headLogo___nav" href="/reference">Reference</a>
      <div style="margin-right: 30px"></div>
      <a href="/login">
        <img
          title="로그인"
          alt="login"
          src="/pictures/login.jpg"
          id="login"
        />
      </a>
      <div style="margin-right: 23px"></div>
    </div>
  </header>