<% layout('layouts/boilerplate') -%>
  <% block('head').append('<link rel="stylesheet" href="/stylesheets/home.css">') %>

    <div class="banner">
      <div class="banner_inner">
        <p>마음을 움직이는 학생회</p>
        <p class="movement">무브먼트</p>
      </div>
    </div>

    <section class="board">
      <div class="url_box bg-info">
        <div class="box_inner">
          <h2 class="h3 p-1 fw-bold">Employment</h2>
          <p class="p-2 fs-6 minus_margin_bottom">컴퓨터공학과 취준생들을 위한 여러 취업 정보 바로보기</p>
          <a class="fs-1 indoor" href="https://computer.seoultech.ac.kr/info_plaza/job_info/" target='_blank'>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-door-open"
              viewBox="0 0 16 16">
              <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
              <path
                d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="url_box url_box_2 bg-warning">
        <div class="box_inner">
          <h2 class="h3 fw-bold">Event🎉</h2>
          <p class="p-2 fs-5">컴퓨터공학과 학우들을 위한 여러 이벤트 소식!</p>
          <a href="/event"><svg class="fs-2 event_red" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
              fill="currentcolor" class="bi bi-chat-square-heart" viewBox="0 0 16 16">
              <path
                d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12ZM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Z" />
              <path d="M8 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
            </svg></a>
        </div>
      </div>
      <div class="url_box bg_coral">
        <div class="box_inner">
          <h2 class="h3 fw-bold">Story:US</h2>
          <p class="p-1 fs-5 minus_margin_bottom">올해 컴퓨터공학과 학생회에 대한 이야기</p>
          <a class="bi bi-book fs-1 story" href="/intro">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-book"
              viewBox="0 0 16 16">
              <path
                d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
            </svg>
          </a>
        </div>
      </div>
      <div class="url_box url_box_2 bg_light">
        <div class="box_inner">
          <h2 class="h3 text-uppercase fw-bold">Instagram</h3>
            <p class="p-2 fs-5">무브먼트 학생회 인스타그램으로 바로가기</p>
            <a href="https://www.instagram.com/seoultech_com/" target="_blank">
              <img class="insta_img col align-self-end" src="https://img.icons8.com/fluency/48/null/instagram-new.png"
                alt="Instagram">
            </a>
        </div>
      </div>
    </section>

    <section class="intro_notice">
      <div class="container notice_body">
        <div class="notice_head">
          <h2 class="h1">&nbspNotice</h2>
          <a href="/notice">
            <button class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
              </svg>
            </button>
          </a>
        </div>

        <div class="table_padding">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row" class="text-center">[공지]</th>
                <a href="">
                  <th scope="row">소프트웨어 직무역량강화 워크숍 안내</th>
                </a>
                <th scope="row">2022.11.23</th>
              </tr>
              <tr>
                <th scope="row" class="text-center">[공지]</th>
                <th scope="row">2022 컴퓨터공학과 산학협의회 워크샵 개최</th>
                <th scope="row">2022.11.18</th>
              </tr>
              <tr>
                <th scope="row" class="text-center"></th>
                <th scope="row">2022학년도 2학기 기말고사 공지</th>
                <th scope="row">2022.11.25</th>
              </tr>
              <tr>
                <th scope="row" class="text-center"></th>
                <th scope="row">봉사장학금 변경사항 안내</th>
                <th scope="row">2022.11.23</th>
              </tr>
              <tr>
                <th scope="row" class="text-center"></th>
                <th scope="row">2022학년도 진로활동 우수 장학금 지급 계획 안내</th>
                <th scope="row">2022.10.28</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="gallery">
        <h2 class="fs-4 gallery_head">Gallery</h2>
        <div id="carouselExampleControls" class="gallery_body carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/pictures/picture_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/pictures/picture_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/pictures/picture_3.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </section>