<% layout('layouts/boilerplate') -%>
<% block('head').append('<link rel="stylesheet" href="/stylesheets/home.css">') %>

<section class="banner">
    <img alt="컴공배너" id="banner" src="/pictures/Banner.png" />
  </section>
  <section class="board">
    <div>
      <h2>◆공지사항◆</h2>
      <div id="notice"></div>
    </div>
    <div>
      <h2>◇커뮤니티◇</h2>
      <div id="community"></div>
    </div>
  </section>
  <section class="ad">
    <div>
      <h3>광고</h3>
      <div id="ad"></div>
    </div>
  </section>