<% layout('layouts/boilerplate') -%>

<div class="row">
  <h1 class="text-center fs-4 fw-semibold">Login</h1>
  <div class="col-6 offset-3">
    <form action="/login" method="POST" novalidate class="needs-validation">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="user[name]"
          required
        />
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="studentID">Student-ID</label>
        <input
          class="form-control"
          type="text"
          id="studentID"
          name="user[studentID]"
          minlength="8"
          maxlength="8"
          required
        />
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input
          class="form-control"
          type="text"
          id="password"
          name="user[password]"
          required
        />
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <div class="mb-3 d-grid justify-content-md-end">
        <button class="btn btn-success">Login</button>
      </div>
    </form>
  </div>
</div>