body {
  background-color: whitesmoke;
}

.banner {
  display: flex;
  flex-flow: row wrap;
  margin-top: -50px;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.1)),
  url("/pictures/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.minus_margin_bottom {
  margin-bottom: -12px;
}

.indoor:hover {
  color: blue;
}

.event_red:hover {
  color: red;
}

.story:hover {
  color: cornflowerblue;
}

.banner_inner {
  display: block;
  width: 35%;
  font-size: 38px;
  color: white;
  padding-top: 120px;
  text-align: center;
  font-family: 'Black Han Sans', sans-serif;
  line-height: 1;
}

.movement {
  font-size: 78px;
}

.board {
  display: flex;
  margin-top: 55px;
  flex-flow: row wrap;
  color: white;
  justify-content: space-around;
  margin-bottom: 80px;
}

.bg_coral {
  background-color: rgb(255, 137, 132);
}

.bg_light {
  background-color: rgb(185, 226, 119);
}

.url_box {
  display: flex;
  flex: 1;
  position: relative;
  aspect-ratio: 1/1;
  margin: 0 40px;
  border-radius: 7px;
} 

.box_inner {
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 15%;
}

.url_box_2 {
  top: 30px;
}

.insta_img {
  width: 20%;
}

.intro_notice {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: 30px;
}

.gallery {
  width: 25%;
}

.gallery_body {
  border: 2px solid blueviolet;
  background-color: whitesmoke;
}

.gallery_head {
  display: inline-block;
  background-color: blueviolet;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.gallery .carousel-caption {
  left: 150px !important;
 }
 
.gallery.active .carousel-caption {
  left: 150px !important;
 }
 
 .gallery.active.left .carousel-caption {
  left: 150px !important;
 }

 .carousel-inner > .carousel-item > img {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 300px;
  object-fit: contain;
} 

.notice_body {
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
}

.notice_head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: solid 5px black;
  border-radius: 5px;
}

.btn {
  padding: 21px;
  border: 0;
}

.bi:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.table_padding {
  padding-top: 22px;
}
