.loginContainer {
    width: 380px; 
    height: 430px; 
    margin: 0 auto; 
    border-radius: 5px; 
    box-shadow: 0px 0px 30px #0A1F62;
}

.formContainer {
    width: 300px;
    margin: auto;
}

.formTitle {
    margin: 0 auto; 
    text-align: center;
}

.formTitleStyle {
    font-weight: bold; 
    font-size: 25px; 
    display: inline-block; 
    padding-top: 6px;
}

.formInput {
    width: 98%; 
    height: 30px; 
    border: 1px solid; 
    border-radius: 3px; 
    border-color: indigo;
}

.formItem {
    color: black;
    font-weight: bold;
    font-family: "Montserrat", serif
}

.formTextAlert {
    height: 20px;
}

.formTextAlertPadding {
    padding-bottom: 10px;
}

.formSubmit {
    width: 100%; 
    height: 44px; 
    background-color: darkorange; 
    border: 1px; 
    border-radius: 5px; 
    color: white;
    font-family: "Malgun Gothic", serif;
    font-size: 21px; 
    font-weight: 600;
}