<% layout('intro/index') -%>

<div class="w-100">
<div class="intro">
    <h2 class="intro_head"><%- intro.subroutes[1] %></h2>
</div>
<div class="text-center">
    <img alt="조직도" class="organization_chart_picture" src="/pictures/organization_chart.jpg" />
</div>
</div>