<% layout('intro/index') -%>
<div class="w-100">
    <div class="intro">
        <h2 class="intro_head "><%- intro.subroutes[2] %></h2>
    </div>
    <div class="history text-center w-25 col-md-6">
        <ul class="list-group list-group-flush">
            <!-- <% for (let index = 0; index < array.length; index++) { %>
                <li class="list-group-item">무/브/먼/트</li>
            <% } %>

            {
                "38th": "무/브/먼/트",
                "37th": "와"
            } -->
            <li class="list-group-item">38th 무/브/먼/트</li>
            <li class="list-group-item">37th 와/이/파/이</li>
            <li class="list-group-item">36th 우/리/두/리</li>
            <li class="list-group-item">35th 푸/른/나/래</li>
            <li class="list-group-item">34th 너/와/나/의</li>
            <li class="list-group-item">33th 위/드/어/스</li>
            <li class="list-group-item">32th 4/번/타/자</li>
            <li class="list-group-item">31th 어/깨/동/무</li>
            <li class="list-group-item">30th 퍼/블/릭</li>
            <li class="list-group-item">29th 온/새/미/로</li>
            <li class="list-group-item">28th 인/클/루/드</li>
            <li class="list-group-item">27th 어/울/림</li>
            <li class="list-group-item">26th 두/드/림</li>
            <li class="list-group-item">25th 너/나/들/이</li>
        </ul>

    </div>
</div>