<% layout('notice/index') -%>
    <link rel="stylesheet" href="/stylesheets/aside-tab.css">
    <link rel="stylesheet" href="/stylesheets/notice.css">

    <div class="container tab-pane show active">
        <div class="notice_head">
            <h2 class="notice_title h1">
                <%- notice.subroutes[0] %>
            </h2>
        </div>
        <div class="table_padding">
            <table class="table table-border table-hover" style="table-layout: fixed;">
                <thead class="bg-light">
                    <tr>
                        <th scope="row" style="width: 10%;" class="fs-6 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-hash" viewBox="0 0 16 16">
                                <path d="M8.39 12.648a1.32 1.32 0 0 0-.015.18c0 .305.21.508.5.508.266 0 .492-.172.555-.477l.554-2.703h1.204c.421 0 .617-.234.617-.547 0-.312-.188-.53-.617-.53h-.985l.516-2.524h1.265c.43 0 .618-.227.618-.547 0-.313-.188-.524-.618-.524h-1.046l.476-2.304a1.06 1.06 0 0 0 .016-.164.51.51 0 0 0-.516-.516.54.54 0 0 0-.539.43l-.523 2.554H7.617l.477-2.304c.008-.04.015-.118.015-.164a.512.512 0 0 0-.523-.516.539.539 0 0 0-.531.43L6.53 5.484H5.414c-.43 0-.617.22-.617.532 0 .312.187.539.617.539h.906l-.515 2.523H4.609c-.421 0-.609.219-.609.531 0 .313.188.547.61.547h.976l-.516 2.492c-.008.04-.015.125-.015.18 0 .305.21.508.5.508.265 0 .492-.172.554-.477l.555-2.703h2.242l-.515 2.492zm-1-6.109h2.266l-.515 2.563H6.859l.532-2.563z"/>
                              </svg></th>
                        <th scope="row" style="width: 90%;" class="fs-6 text-center">제목</th>
                        <th scope="row" style="width: 107px;" class="fs-6 text-center">날짜</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-center">[공지]</th>
                        <a href="">
                            <th scope="row" title="소프트웨어 직무역량강화 워크숍 안내">소프트웨어 직무역량강화 워크숍 안내
                            </th>
                        </a>
                        <th scope="row" class="text-center">2022.11.23</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">[공지]</th>
                        <th scope="row">2022 컴퓨터공학과 산학협의회 워크샵 개최</th>
                        <th scope="row" class="text-center">2022.11.18</th>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <th scope="row">2022학년도 2학기 기말고사 공지</th>
                        <th scope="row" class="text-center">2022.11.25</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">봉사장학금 변경사항 안내</th>
                        <th scope="row" class="text-center">2022.11.23</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">컴퓨터공학과 학생회 선거무산 공고</th>
                        <th scope="row" class="text-center">2022.11.14</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">컴퓨터공학과 학생회장단 선거 입후보 기간 연장 안내</th>
                        <th scope="row" class="text-center">2022.11.07</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">컴퓨터공학과 정·부학생회장 선거공고</th>
                        <th scope="row" class="text-center">2022.10.30</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">2022학년도 진로활동 우수 장학금 지급 계획 안내(21~22학번 신청)</th>
                        <th scope="row" class="text-center">2022.10.28</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">2022학년도 2학기 중간고사 공지(10월 21일 기준)</th>
                        <th scope="row" class="text-center">2022.10.17</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">학과 전문가 특강(1차)_IT 개발자 이야기</th>
                        <th scope="row" class="text-center">2022.10.07</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">2022년도 하반기 컴퓨터공학과 총회 미개회 공지</th>
                        <th scope="row" class="text-center">2022.10.04</th>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center"></th>
                        <th scope="row">2022년도 하반기 컴퓨터공학과 총회 개회 공지</th>
                        <th scope="row" class="text-center">2022.10.01</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>