<% layout('notice/index') -%>
    <link rel="stylesheet" href="/stylesheets/aside-tab.css">
    <link rel="stylesheet" href="/stylesheets/event.css">

    <div class="container tab-pane show active">
        <div class="event_head">
            <h2 class="event_title h1">
                <%- notice.subroutes[1] %>
            </h2>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="d-inline badge bg-info text-wrap event_link" href="https://instabio.cc/3031704rI3OvK"
                target='_blank'>
                ☞진행중인 이벤트 신청 링크</a>
        </div>
    </div>