<% layout('notice/index') -%>
    <link rel="stylesheet" href="/stylesheets/aside-tab.css">
    <link rel="stylesheet" href="/stylesheets/notice.css">

    <div class="container tab-pane show active">
        <div class="notice_head">
            <h2 class="notice_title h1">
                <%- notice.subroutes[0] %>
            </h2>
        </div>
    </div>